anyio
blinker
build
CacheControl
certifi
charset-normalizer
cleo
colorama
coloredlogs
crashtest
ddddocr
dep-logic
distlib
dulwich
fastjsonschema
filelock
findpython
flatbuffers
h11
hishel
httpcore
httpx
humanfriendly
id
idna
installer
jaraco.classes
jaraco.context
jaraco.functools
keyring
loguru
markdown-it-py
mdurl
more-itertools
mpmath
msgpack
numpy
onnxruntime
packaging
pbs-installer
pdm
pillow
pkginfo
platformdirs
poetry
poetry-core
protobuf
pycryptodome
Pygments
pyproject_hooks
pyreadline3
python-dotenv
pywin32-ctypes
RapidFuzz
requests
requests-toolbelt
resolvelib
rich
shellingham
sniffio
socksio
sympy
tomlkit
trove-classifiers
truststore
unearth
urllib3
uv
virtualenv
win32_setctime
zstandard